
<div class="tech-btm">
							
							<p>Seyahat, tips ve diger bloglarimizi mail ile alin.</p>
							<form action="~/NewsLetter/SubscribeMail/" method="post">
								<input type="email" placeholder="Email" required="" name="Mail"> <!--NewsLetter entitysinde Mail propuna gore calisacagi icin name verdik. -->
								<input type="submit" class="rounded" value="Subscribe">
							</form>

						</div>